html{
    height:100%;
    }
    title{
    display:none;
    }
    
    body{
    background-color: blue;
    }
    
    .p1{
    padding-left:450px;
    font-size:50px;
    border:2px solid black;
    border-radius:5px;
    font-weight:bold;
    }
    .p2{
    padding-left:350px;
    padding-top:10px;
    font-size:40px;
    
    }
    
    table{
    height:50%;
    width:50%;
    }
    
    .d1{
    font-weight:bold;
    color:green;
    }